@import url('http://necolas.github.io/normalize.css/3.0.2/normalize.css');


/*General Styles*/

a {
    text-decoration: none;
}

h3{
    text-align: center;
}

#news {
    margin: 5px auto;
    text-align: center;
    background-color: #E6B800;
    border-radius: 8px;
    max-width: 90%;
}

/*************************
Content
*************************/

section {
    border: 3px solid #C2D699;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
}



/*************************
Logo and Navigation
*************************/
#logo {
    max-width: 90%;
}

header {
    color: #fff;
    background-color: #C2D699;
    text-align: center;
    margin: 5px;
    padding: 5px;
}

nav {
    display: block;
}

/*************************
Footer
*************************/

footer {
    color: #fff;
    background-color: #C2D699;
    text-align: center;
    margin: 5px;
    padding: 5px;
};