<<<<<<< HEAD
/******************************
Styles
******************************/
.header {
    background-color: #C2D699;
    margin-bottom: 0px; 
}

.content {
    padding: 20px;
    border: 2px solid #C2D699;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
}
/******************************
Navigation
******************************/
#navbtn li a {
    color: #F8F8F8;
    text-decoration: none;
    margin-top: 30px;
}

#navbtn li {
    font-size: 1.3em;
    margin-top: 20px;
}



#news {
    background-color: #EECD4D;
    border-radius: 10px;
    padding-top: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

footer {

    background-color: #C2D699;
}
=======
@import url('http://necolas.github.io/normalize.css/3.0.2/normalize.css');


/*General Styles*/

a {
    text-decoration: none;
}

h3{
    text-align: center;
}

#news {
    margin: 5px auto;
    text-align: center;
    background-color: #E6B800;
    border-radius: 8px;
    max-width: 90%;
}

/*************************
Content
*************************/

section {
    border: 3px solid #C2D699;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
}



/*************************
Logo and Navigation
*************************/
#logo {
    max-width: 90%;
}

header {
    color: #fff;
    background-color: #C2D699;
    text-align: center;
    margin: 5px;
    padding: 5px;
}

nav {
    display: block;
}

/*************************
Footer
*************************/

footer {
    color: #fff;
    background-color: #C2D699;
    text-align: center;
    margin: 5px;
    padding: 5px;
};
>>>>>>> 764a8fac9d44671d5359eb5f91db5e1b0c2b5125
